<div class="container mt-5 h-50">
    <div class="row">
      <div class="col-md-4">
        <div class="image-container">
          <img src="../../../assets/images/drone-flying.jpg" alt="Drone Image">
          <div class="overlay">
            <h5 class="title">INNOVATIVE TECHNOLOGY</h5>
            <h3 class="subtitle">DRONES</h3>
            <p class="description">Explore the latest in drone technology, perfect for aerial photography, videography, and surveillance, providing cutting-edge features with powerful performance.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-container">
          <img src="../../../assets/images/microchips.jpg" alt="Electronics Image">
          <div class="overlay">
            <h5 class="title">TOP-GRADE QUALITY</h5>
            <h3 class="subtitle">ELECTRONICS</h3>
            <p class="description">Our wide range of electronic components is ideal for building circuits, repairing gadgets, or crafting your next big tech project with industry-standard quality.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-container">
          <img src="../../../assets/images/3dprinting.jpg" alt="3D Printing Models Image">
          <div class="overlay">
            <h5 class="title">CREATIVE INNOVATION</h5>
            <h3 class="subtitle">3D PRINTING MODELS</h3>
            <p class="description">Discover a variety of 3D printing models for your projects, including customizable designs and high-precision materials suitable for both beginners and professionals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  