<div class="container-fluid text-center my-5  ">
  <a href="/search/drone">
    <div class="card border-2">
      <img src="../../../assets/images/girldrone.jpg" alt="Women's Shoes" class="img-fluid" />
      <div class="card-body text-left">

        <h5 class="card-title">DRONE ALL COLLECTION</h5>
        <a href="/search/drone" class="btn btn-outline-dark">Discover</a>
      </div>
    </div>
  </a>
</div>
<div class="container-fluid text-center  my-5">
  <a href="/search/IOT">
    <div class="card">
      <img src="../../../assets/images/robo.jpg" alt="Women's Shoes" class="img-fluid" />
      <div class="card-body">
        <h5 class="card-title">IOT components </h5> 
        <a href="/IOT" class="btn btn-outline-dark">Discover</a>
      </div>
    </div>
  </a>
</div>


<div class="container-fluid my-5">
  <div class="row">
    <!-- Women's Shoes -->
    <div class="col-md-6 text-center">
      <a href="/search/3Dmodel">
        <div class="card">
          <img src="../../../assets/images/3dmodel.jpg" alt="3Dmodel's Shoes" class="img-fluid" />
          <div class="card-body">
           <h5 class="card-title">3D printing Models</h5>
            <a href="/search/3Dmodel" class="btn btn-outline-dark">Discover</a>
          </div>
        </div>
      </a>
    </div>

    <!-- Men's Shoes -->
    <div class="col-md-6 text-center">
      <a href="/search/fly">
        <div class="card">
          <img src="../../../assets/images/drone1.jpg" alt="Men's Shoes" class="img-fluid" />
          <div class="card-body">
            <h5 class="card-title">Flying Drones</h5>
            <a href="/search/fly" class="btn btn-outline-dark">Discover</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid text-center my-5  ">
  <a href="/search/components">
    <div class="card border-2">
      <img src="../../../assets/images/electrocomp.jpg" alt="Women's Shoes" class="img-fluid" />
      <div class="card-body">
        <h5 class="card-title">COMPONENTS COLLECTION</h5>
        <a href="/search/components" class="btn btn-outline-dark">Discover</a>
      </div>
    </div>
  </a>
</div>

