<section class="bg-dark text-white text-center py-5">
    <div class="container routeshow">
        <h1 class="display-4 fw-bold text-uppercase">{{item}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mt-3 bg-dark">
                <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-white-50">Home / </a></li>
                <li class="breadcrumb-item active text-white" aria-current="page">{{item}}</li>
            </ol>
        </nav>
    </div>
</section>
