<app-routeshow [item]="currentItem"></app-routeshow>

<div ngbAccordion class="container-fluid m-2 h-100 p-4" [closeOthers]="true">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader >
        <button ngbAccordionButton class="bg-dark text-white">What is your return policy?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Our return policy allows you to return items within 30 days of purchase. Make sure the item is in its original condition and packaging.
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">How can I track my order?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          You can track your order by logging into your account and checking the order status under the 'My Orders' section.
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Do you offer international shipping?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Yes, we offer international shipping to most countries. Shipping costs and delivery times will vary depending on the destination.
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">How do I contact customer service?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          You can contact our customer service team via email at supportxample.com or by calling our hotline at 1-800-123-4567.
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Can I cancel or change my order after it has been placed?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Once an order has been placed, it is processed immediately. However, you can contact customer service to see if changes can still be made.
        </div>
      </div>
    </div>
  </div>