

<div class="hero-container d-flex align-items-center">
    <div class="hero-content container">
      <div class="row">
        <div class="col-md-6">
          <div class="hero-image-left">
            <img src="../../../assets/images/bglessdrone.png" alt="Wally Slim Leather Bag" class="img-fluid" width="100%" height="auto">
            <div class="hero-text">
              <h3>Fully Functioning drone</h3>
              <p>$124.99</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="hero-image-right">
            <img src="../../../assets/images/mmmutdrone.jpg" alt="Handbag" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  