<div
  id="shopify-section-template--14940231762074__16300474566e107603"
  class="shopify-section index-section home-support-block"
>
  <div
    class="dt-sc-section-wrapper dt-sc-overlay"
    style="
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    "
    data-style="parallax"
  >
    <div class="container-fluid spacing_enabled">
      <div class="row">
        <div
          class="dt-sc-support-blocks-section dt-sc-column four-column default-style position-default"
        >
          <div class="dt-sc-support-block text-start">
            <div class="dt-sc-support-icon-image">
              <img
                class="lazyload"
                data-src="//kling-theme.myshopify.com/cdn/shop/files/icon-2_200x200.png?v=1614338502"
                data-aspectratio=""
                data-sizes="auto"
                alt=""
              />
              <noscript>
                <img
                  src="//kling-theme.myshopify.com/cdn/shop/files/icon-2_480x480@2x.png?v=1614338502"
                  class="dt-sc-noscript-image"
                />
              </noscript>
            </div>

            <div class="dt-sc-support-content">
              <h6 class="dt-sc-support-heading">
                World Wide<br />Free Shipping
              </h6>
            </div>
          </div>

          <div class="dt-sc-support-block text-start">
            <div class="dt-sc-support-icon-image">
              <img
                class="lazyload"
                data-src="//kling-theme.myshopify.com/cdn/shop/files/icon-4_200x200.png?v=1614338502"
                data-aspectratio=""
                data-sizes="auto"
                alt=""
              />
              <noscript>
                <img
                  src="//kling-theme.myshopify.com/cdn/shop/files/icon-4_480x480@2x.png?v=1614338502"
                  class="dt-sc-noscript-image"
                />
              </noscript>
            </div>

            <div class="dt-sc-support-content">
              <h6 class="dt-sc-support-heading">
                Free Returns<br />Assured Reimbursement
              </h6>
            </div>
          </div>

          <div class="dt-sc-support-block text-start">
            <div class="dt-sc-support-icon-image">
              <img
                class="lazyload"
                data-src="//kling-theme.myshopify.com/cdn/shop/files/icon-1_200x200.png?v=1614338502"
                data-aspectratio=""
                data-sizes="auto"
                alt=""
              />
              <noscript>
                <img
                  src="//kling-theme.myshopify.com/cdn/shop/files/icon-1_480x480@2x.png?v=1614338502"
                  class="dt-sc-noscript-image"
                />
              </noscript>
            </div>

            <div class="dt-sc-support-content">
              <h6 class="dt-sc-support-heading">
                24 Months Waranty<br />For Leather
              </h6>
            </div>
          </div>

          <div class="dt-sc-support-block text-start">
            <div class="dt-sc-support-icon-image">
              <img
                class="lazyload"
                data-src="//kling-theme.myshopify.com/cdn/shop/files/icon-3_200x200.png?v=1614338502"
                data-aspectratio=""
                data-sizes="auto"
                alt=""
              />
              <noscript>
                <img
                  src="//kling-theme.myshopify.com/cdn/shop/files/icon-3_480x480@2x.png?v=1614338502"
                  class="dt-sc-noscript-image"
                />
              </noscript>
            </div>

            <div class="dt-sc-support-content">
              <h6 class="dt-sc-support-heading">
                100% Safe & Secure<br />Checkout
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
