<!-- //////////// hero section ///////// -->
<!-- <app-carousal></app-carousal> -->

<!-- <div class="drone-container">

  <div class="overlay">
    <h1>PUSHPAK DRONE VIMAN</h1>
  </div>
</div> -->

<!-- ///////////////////////////////////////////// -->

<app-threesection></app-threesection>
<app-herosection></app-herosection>

<app-hero></app-hero>

<!-- <app-linesection></app-linesection> 

<app-product-section></app-product-section> -->

<!-- ///////////////////// -->

<div class="bg-dark text-white text-center py-5">
  <h1 class="display-4">JOIN US: <span class="font-weight-bold">EXPLORE THE FUTURE OF DRONES & ELECTRONICS</span></h1>
  <p class="lead">Elevate your projects, innovate with precision. Discover our latest drone models and cutting-edge
    electronics below.</p>
  <a href="#" class="btn btn-light btn-lg">SHOP DRONES & ELECTRONICS</a>
</div>