<!-- /////////////////////////////////// -->

<div style="padding: 5rem; width: 100%; height: 20%;">

  <div class="container-fluid bg-image">
    <div class="row justify-content-center align-items-center" style="height: 60vh;">
      <div class="text-center">
        <h2 class="text-white">LATEST IN TECH</h2>
        <div class="buttons">

          <button>
            <a href="search/Drones" class="btn2"><span class="spn2">SHOP DRONES</span></a>
          </button>
          <button>
            <a href="search/Electronics" class="btn2"><span class="spn2">SHOP ELECTRONICS</span></a>
          </button>
          <button>
            <a href="search/3D-Printing" class="btn2"><span class="spn2">SHOP 3D PRINTING</span></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
